@mixin c-border(
  $color: var(--themeColor),
  $radius: 0.5rem,
  $style: solid,
  $width: 0.04rem
) {
  border: $width $style $color;
  border-radius: $radius;
}

@mixin c-color(
  $background: var(--backgroundColor),
  $foreground: var(--primaryColor)
) {
  background-color: $background;
  color: $foreground;
}

@mixin c-flex-box(
  $flexDirection: row,
  $flexWrap: nowrap,
  $justifyContent: flex-start,
  $alignItems: stretch,
  $alignContent: stretch
) {
  display: flex;
  flex-direction: $flexDirection;
  flex-wrap: $flexWrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
  align-content: $alignContent;
}

@mixin c-flex-item($flexGrow: 0, $flexShrink: 1, $flexBasis: auto) {
  flex-grow: $flexGrow;
  flex-shrink: $flexShrink;
  flex-basis: $flexBasis;
}

@mixin c-text($size: 1rem, $weight: normal, $height: 1rem, $align: center) {
  font: var(--font);
  font-size: $size;
  font-weight: $weight;
  line-height: $height;
  text-align: $align;
}

* {
  @include c-color();
  @include c-text();
  margin: 0;
  padding: 0;
}

body {
  @include c-text(100%);
}

a {
  @include c-text($weight: bold);
  > code {
    @include c-text($weight: bold);
  }
}

b {
  @include c-text($weight: bold);
}

button {
  @include c-border();
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: all 0.5s ease-out;
  &:disabled {
    cursor: auto;
    opacity: 0.5;
    &:hover {
      background-color: var(--backgroundColor);
    }
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: var(--neutralColor);
  }
}

code {
  @include c-border();
  font: var(--monoFont);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

h1 {
  @include c-text(2rem, bold);
  margin: 0.5rem;
  padding: 0.5rem;
}

h2 {
  @include c-text(1.5rem, bold);
  margin: 0.5rem;
  padding: 0.5rem;
}

h3 {
  @include c-text(1.17rem, bold);
  margin: 0.5rem;
  padding: 0.5rem;
}

h4 {
  @include c-text(1rem, bold);
  margin: 0.5rem;
  padding: 0.5rem;
}

h5 {
  @include c-text(0.83rem, bold);
  margin: 0.5rem;
  padding: 0.5rem;
}

h6 {
  @include c-text(0.75rem, bold);
  margin: 0.5rem;
  padding: 0.5rem;
}

hr {
  border: none;
  border-top: 0.05rem dotted;
  border-bottom: 0;
  height: 10e-10rem;
  margin: 1rem auto;
}

nav {
  margin: 0.5rem;
  padding: 0.5rem;
}

p {
  @include c-text(1rem, normal, 2rem, justify);
  margin: 0.5rem;
  padding: 0.5rem;
  &::first-line {
    text-indent: 2rem;
  }
}

select {
  // https://www.w3schools.com/howto/tryit.asp?filename=tryhow_custom_select
  /*the container must be positioned relative:*/
  .custom-select {
    position: relative;
    font-family: Arial;
  }

  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }

  .select-selected {
    background-color: DodgerBlue;
  }

  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

  /*style the items (options), including the selected item:*/
  .select-items div,
  .select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
  }

  /*style items (options):*/
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }

  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }

  .select-items div:hover,
  .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.c-dropdown {
  display: inline-block;
  * {
    text-align: left;
  }
  &:active,
  &:hover {
    .c-dropdown-selection {
      background-color: var(--primaryColor);
      color: var(--backgroundColor);
    }
    .c-dropdown-menu {
      display: block;
    }
  }
  .c-dropdown-selection {
    font-weight: bold;
    padding: 0.5rem;
  }
  .c-dropdown-menu {
    border: 0em;
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    display: none;
    padding: 0em;
    position: absolute;
    z-index: 1;
  }
  .c-dropdown-menu-choice {
    padding: 0.5rem 0.5em;
    &:active,
    &:hover {
      background-color: var(--primaryColor);
      color: var(--backgroundColor);
    }
  }
}

.c-link-router {
  @include c-text($weight: bold);
  margin: 0.5rem;
  padding: 0.5rem;
  &.router-link-exact-active {
    color: var(--themeColor);
  }
}

.c-turn-0 {
  @include c-color(var(--backgroundColor), var(--turn0Color));
}

.c-turn-1 {
  @include c-color(var(--backgroundColor), var(--turn1Color));
}

.c-win {
  @include c-color(var(--winColor), white);
}

.c-draw {
  @include c-color(var(--drawColor), black);
}

.c-tie {
  @include c-color((var(--tieColor)), black);
}

.c-lose {
  @include c-color((var(--loseColor)), white);
}
